$primary: #1976d2;
$secondary: #5055f2;
$tertiary: #7d81f5;
$fourth: #c2e9ff;
$fifth: #edf9ff;
$green: #75ffd4;
$green1: #0dffb3;
$purple: #c403ff;
$purple1: #dd88f7;
$purple2: #eabef7;
$grayPrimary: #d8dadf;
$fontSizeBtn: 1rem;
