.div-input {
  margin-top: 10px;
  div {
    padding: 3px 5px;
    border: 0.5px solid rgb(236, 236, 236);
    border-radius: 0.3rem;
    box-shadow: 1px 1px #f3f3f3;
    input {
      border: none;
      outline: none;
      width: 100%;
    }
  }
}
.input-form {
  margin-bottom: -16px !important;
}
